*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --white: #ffffff;
   --cornflower: #e7e9fc;
   --cloud: #f4f4fd;
   --iris: #4d5ae5;
   --navy-blue: #2e2f42;
   --slate: #434455;
   --ocean: #404bbf;
}

body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: var(--white);
   width: 1440px;
}

img {
   display: block;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.header-section {
   border-bottom: 1px solid #e7e9fc;
}

.header-container {
   display: flex;
   align-items: center;
   padding: 24px 156px;
   justify-content: space-between;
   border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
   background: var(--WHITE, #fff);
}

.container {
   width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}

.nav-logo {
   padding-top: 25.5px;
   padding-bottom: 25.5px;
   align-self: center;
   margin-right: 76px;
}

.nav-links {
   display: flex;
   align-items: center;
}

.nav-list {
   display: flex;
   padding-top: 24px;
   padding-bottom: 24px;
   gap: 40px;
   margin-right: 40px;
}

.nav-list:last-child {
   margin-right: 0;
}

.contact-list {
   display: flex;
   gap: 40px;
}

.logo {
   color: var(--IRIS, #4d5ae5);
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 800;
   line-height: 1.17;
   /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
}

.logo-span-header {
   color: var(--navy-blue);
}

.nav-link {
   color: var(--NAVY-BLUE, #2e2f42);
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 150%;
   /* 150% */
   letter-spacing: 0.32px;
   text-decoration: none;
   padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
   color: var(--ocean);
}

.list {
   list-style-type: none;
}

.link {
   text-decoration: none;
}

.contacts {
   color: var(--SLATE, #434455);
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   /* 150% */
   letter-spacing: 0.32px;
}

.contacts:hover,
.contacts:focus {
   color: var(--ocean);
}

.hero-section {
   background: var(--NAVY-BLUE, #2e2f42);
   text-align: center;
   gap: 48px;
   padding: 188px 0;
}

.hero-title {
   color: #ffffff;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07em;
   text-align: center;
   letter-spacing: 1.12px;
   margin: 0 auto;
   max-width: 496px;
   padding-bottom: 48px;
}

.hero-button {
   font-family: "Roboto", sans-serif;
   color: #ffffff;
   background-color: #4d5ae5;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5em;
   letter-spacing: 0.04em;
   cursor: pointer;
   display: block;
   min-width: 169px;
   height: 56px;
   border-radius: 4px;
   border: none;
   margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
   background: var(--ocean);
}

.section-one-container {
   display: flex;
   flex-direction: row;
   padding: 94px 156px;
   width: 1128px;
   gap: 24px;
   justify-content: center;
   align-items: center;
}

.section-one-item {
   display: flex;
   width: 100%;
   min-width: 264px;
   flex-direction: column;
   align-items: flex-start;
   gap: 8px;
}

.section-one-studio {
   color: var(--NAVY-BLUE, #2e2f42);
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 36px;
   line-height: 111.111%;
   /* 111.111% */
   letter-spacing: 0.72px;
   text-transform: capitalize;
}

.section-one-subtitle {
   color: var(--NAVY-BLUE, #2e2f42);
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   font-weight: 500;
   line-height: 120%;
   /* 120% */
   letter-spacing: 0.4px;
   width: 264px;
   margin-bottom: 8px;
}

.section-one-text {
   color: var(--SLATE, #434455);
   font-family: "Roboto", sans-serif;
   line-height: 150%;
   /* 150% */
   letter-spacing: 0.32px;
   margin-top: 0px;
}

.section-two-container {
   display: flex;
   flex-direction: row;
   width: 1128px;
   gap: 24px;
   justify-content: center;
   align-items: center;
   padding-bottom: 120px;
   padding-left: 156px;
   padding-right: 156px;
}

.section-two-item {
   width: 360px;
   height: 300px;
   border: 1px solid var(--CORNFLOWER, #e7e9fc);
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
}

.section-two-title {
   color: var(--NAVY-BLUE, #2e2f42);
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 36px;
   line-height: 111.111%;
   /* 111.111% */
   letter-spacing: 0.72px;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.third-section {
   background: var(--cloud);
   padding: 105px 141px;
}

.section-three-title {
   color: var(--navy-blue);
   font-size: 36px;
   font-weight: 700px;
   line-height: 1.11;
   letter-spacing: 0.72px;
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.section-three-container {
   display: flex;
   flex-direction: row;
   gap: 24px;
   padding-inline-start: 0px;
   padding-left: 0px;
}

.team-member-card {
   background: var(--WHITE, #fff);
   width: 264px;
}

.section-three-item {
   display: inline-flex;
   padding-bottom: 32px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 0px 0px 4px 4px;
   background: var(--WHITE, #fff);
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
   width: calc((100%-72px) / 4);
}

.team-member-description {
   padding: 32px 0;
}

.team-member-name {
   color: var(--NAVY-BLUE, #2e2f42);
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
   margin-bottom: 8px;
}

.team-member-job {
   color: var(--SLATE, #434455);
   text-align: center;
   font-family: "Roboto", sans-serif;
   line-height: 150%;
   /* 150% */
   letter-spacing: 0.32px;
   margin-bottom: 32px;
}

.nav-buttons {
   display: flex;
   justify-content: center;
   gap: 24px;
   padding: 12px 24px;
   border-radius: 4px;
   align-items: center;
   margin-bottom: 72px;
}

.section-one-portfolio {
   color: var(--NAVY-BLUE, #2e2f42);
   font-family: "Roboto", sans-serif;
   font-size: 36px;
   line-height: 111.111%;
   /* 111.111% */
   letter-spacing: 0.72px;
   text-transform: capitalize;
}

.filter-buttons {
   padding: 96px 427px 72px 427px;
}

.filter-button {
   color: var(--IRIS, #4d5ae5);
   background: var(--CLOUD, #f4f4fd);
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 150%;
   /* 150% */
   letter-spacing: 0.64px;
   cursor: pointer;
   border-radius: 4px;
   border: 1px solid var(--CORNFLOWER, #e7e9fc);
   background: var(--CLOUD, #f4f4fd);
   padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
   color: var(--WHITE, #fff);
   background: var(--OCEAN, #404bbf);
   border: 1px solid transparent;
}

.main-section {
   padding-top: 96px;
   padding-bottom: 120px;
   padding-left: 0;
   padding-right: 0;
}

.project-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 24px;
   row-gap: 48px;
   padding: 0;
   justify-content: center;
}

.project-card {
   flex-basis: calc((100% - 48px) / 3);
}

.project-description {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.project-field {
   color: var(--NAVY-BLUE, #2e2f42);
   font-family: "Roboto", sans-serif;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.4px;
   margin-bottom: 8px;
}

.project-type {
   color: var(--SLATE, #434455);
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: 0.32px;
}

.contacts-address {
   font-style: normal;
}

.footer-container {
   display: flex;
   flex-direction: column;
   padding: 100px 0;
   justify-content: center;
   flex-direction: row;
}

.footer-section {
   background: var(--NAVY-BLUE, #2e2f42);
   padding: 100px 0;
   width: 1440px;
   height: 312px;
   flex-shrink: 0;
   gap: 16px;
}

.footer-logo {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 800;
   line-height: 1.17;
   letter-spacing: 0.54px;
   text-transform: uppercase;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 16px;
}

.footer-text {
   color: var(--cloud);
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.32px;
   padding: 0;
   max-width: 264px;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5em;
   margin-top: 24px;
}

.logo-span-footer {
   color: var(--CLOUD, #f4f4fd);
}
